@using QuotationCryptocurrency.Models
@using QuotationCryptocurrency.Quotations
@using QuotationCryptocurrency.FilterModels.CryptocurrencyQuotation

@model CryptocurrencyQuotationViewModel
@{
    ViewBag.Title = "Index";
}
<div>
    <h2>QuotationCryptocurrency</h2>

    <table class="table table-striped">
        <tr>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortModel.IdSort)">
                    Id
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortModel.NameSort)">
                    Name
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortModel.SymbolSort)">
                    Symbol
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortModel.PriceSort)">
                    Price
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortModel.PercentChange1hSort)">
                    PercentChange1h
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortModel.PercentChange24hSort)">
                    PercentChange24hSort
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortModel.MarketCapSort)">
                    MarketCap
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-sortOrder="@(Model.SortModel.LastUpdatedSort)">
                    LastUpdated
                </a>
            </th>
        </tr>

        @foreach (CryptocurrencyQuotationModel item in Model.Models)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    <img src="https://s2.coinmarketcap.com/static/img/coins/32x32/@{@item.Id}.png" class="logo-sprite" alt="Bitcoin" height="16" width="16">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Symbol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PercentChange1h)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PercentChange24h)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MarketCap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdated)
                </td>
            </tr>
        }
    </table>

    @if (Model.PageNavigation.HasPreviousPage)
    {
        <a asp-action="Index"
           asp-route-pageData="@(Model.PageNavigation.PageNumber - 1)" class="btn btn-default">
            Back
        </a>

    }
    @if (Model.PageNavigation.HasNextPage)
    {
        <a asp-action="Index"
           asp-route-pageData="@(Model.PageNavigation.PageNumber + 1)" class="btn btn-default">
            Next
        </a>
    }
</div>