@using QuotationCryptocurrency.Models
@using QuotationCryptocurrency.FilterModels.Quotation

@addTagHelper "*, QuotationCryptocurrency"

@model IEnumerable<QuotationModel>
@{
    ViewBag.Title = "Index";
    QuotationViewModel ViewModel = TempData.Peek<QuotationViewModel>("quotationsViewModel");
}
    <div>
        <h2>Quotation Cryptocurrency</h2>
        <hr />

        @await Html.PartialAsync("_Filter", ViewModel.FilterModel)
        <br />
        <div class="text-right">
            <a asp-action="Update" asp-route-update="true" class="link">Обновить котировки</a>
        </div>
        <br />

        <table class="table table-striped">
            <tr>
                <th>
                    <a asp-action="Sort"
                       asp-route-sortOrder="@(ViewModel.SortModel.NameSort)">
                        Name
                    </a>
                </th>
                <th>
                    <a asp-action="Sort"
                       asp-route-sortOrder="@(ViewModel.SortModel.SymbolSort)">
                        Symbol
                    </a>
                </th>
                <th>
                    <a asp-action="Sort"
                       asp-route-sortOrder="@(ViewModel.SortModel.PriceSort)">
                        Price
                    </a>
                </th>
                <th>
                    <a asp-action="Sort"
                       asp-route-sortOrder="@(ViewModel.SortModel.PercentChange1hSort)">
                        PercentChange1h
                    </a>
                </th>
                <th>
                    <a asp-action="Sort"
                       asp-route-sortOrder="@(ViewModel.SortModel.PercentChange24hSort)">
                        PercentChange24hSort
                    </a>
                </th>
                <th>
                    <a asp-action="Sort"
                       asp-route-sortOrder="@(ViewModel.SortModel.MarketCapSort)">
                        MarketCap
                    </a>
                </th>
                <th>
                    <a asp-action="Sort"
                       asp-route-sortOrder="@(ViewModel.SortModel.LastUpdatedSort)">
                        LastUpdated
                    </a>
                </th>
            </tr>

            @foreach (QuotationModel item in Model)
            {
                <tr>
                    <td>
                        <img src="https://s2.coinmarketcap.com/static/img/coins/32x32/@{@item.Id}.png" class="logo-sprite" alt="Bitcoin" height="16" width="16">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Symbol)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PercentChange1h)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PercentChange24h)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MarketCap)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastUpdated)
                    </td>
                </tr>
            }
        </table>

        @await Html.PartialAsync("_Navigation", ViewModel.PageNavigation)

    </div>